<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-percentage"></i>
                    <h2>Descuentos por ser parte de BAgastro</h2>
                    <p>Registrate en nuestra plataforma para obtener cupones de descuento en los mejores restaurantes de Buenos Aires!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-newspaper"></i>
                    <h2>Sé el primero en conocer las novedades</h2>
                    <p>Al estar registrado, recibiras notificaciones cuando un restaurante haga cambios en su menú, precio, ofertas y demás.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-secret"></i>
                    <h2>Anonimato</h2>
                    <p>¿Querés hacer un comentario, sin que se vea tu usuario? ya sea una queja, crítica constructiva o halago. En BAgastro tenés la opción de dejar comentarios anónimos acerca los restaurantes.</p>
                </article>
            </div>
        </div>
        <div class="footerInferior">
            ©️ 2021 by BAgastro. PAWLUK, BENGOLEA & GIMENEZ
        </div>
    </div>
</footer>