<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="form-registracion">
				<h2 class="col-12"> 
					<form class="tablaRegistracion">
					<ul class= "registracionItems">
					  <li class="bordearDiferente"> 
						<!--<label class="form-label" for="nombre">Nombre:</label> -->
						<input class="form-input" type="text" id="nombre" placeholder="Usuario"name="user_nombre">
					   
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="apellido">Apellido:</label>-->
						 <input class="form-input" type="text" id="apellido" placeholder="Contraseña"name="user_apellido">
					 </li>
					
				<a class="actualizar-perfil" href="/profile">Iniciar sesión</a>
			</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>