<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="form-registracion">
				<h2 class="col-12"> 
					<% if (locals.errors) {%> 
					<p class="alert"> <%= errors.register  %> </p>
					<% } %> 
				<h2 class="col-12"> 
				<!--FORMULARIO LOGIN-->
					<form class="tablaRegistracion" action="/login" method="POST" id="form">
					<ul class= "registracionItems">

					  <li class="bordearDiferente"> 
						<input class="form-input" type="text" id="mail" placeholder="Correo Electronico" name="mail">
					 </li>

					 <li class="bordear">
						 <input class="form-input" type="password" id="contraseña" placeholder="Contraseña"name="contrasenia">
					 </li>

					 <br>

					 <!--CAMBAIR CSS DE RECORDARME-->
					 <li class="bordear">
						RECORDARME <input class="form-input" type="checkbox" id="" placeholder="Recordarme"name="recordarme">
					</li>
					<br>
					
					<button class="actualizar-perfil" type="submit"> Iniciar sesión </button>
				

			</div>

	
</body>
<!-- footer -->
<%-include("./partials/footer.ejs")%>
<!-- /footer -->
</html>