<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

<div class="seccionprincipal"> 
	

			<!-- product detail  -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Niño Gordo</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/dabbang.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Tal vez uno de los restaurantes de la lista más difíciles de encasillar. La comida tiene mucha influencia de platos y street food asiático, pero no es un restaurante asiático. Se siente bastante argentino. </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> Marcos Tortielo</a> </strong>
								Desde la ambientación hasta los platos son un auténtico disfrute. No es barato, pero vale la pena probarlo una vez.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Delfina Mirasol</a> </strong>
									Un lugar distinto, altamente recomendable. Comida fusión Arg-Japón con algo de picante y salsa agridulces. 👌🏾</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Carlos Carmen</a> </strong>
									Excelente lugar para probar sabores distintos. Platos completamente distintos a los que probé. Sabores muy suaves que en combinación son increíbles. La atención de 10 también. Super recomendable.
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Marina Lafourcade </a> </strong>
									Muy rica la comida, un lugar para ir una vez a comer algo distinto y una ocasion especial ya que el precio es un poco elevado.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Indira Josefa </a> </strong>
									Vale la pena conocerlo sin dudas, aunque los valores de los platos están por encima de la media, la comida es increíble y vale cada centavo pagado.</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail  -->

	
	</div>
	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->

</body>	
</html>
