<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<div class="seccionprincipal"> 
	
	
	<!-- product detail 1 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> Alo's </h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/alos.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Este moderno bistr贸, que abre para el desayuno, el almuerzo y la cena, se convirti贸 r谩pidamente en un 茅xito por su forma 煤nica de transformar los sabores argentinos familiares.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
						<!--	<img src="https://via.placeholder.com/35" alt="">-->

							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> Lucia Perez </a> </strong>
								Este lugar lo conocimos en una cena por el d铆a de San Valent铆n de este a帽o, y nos encant贸.
								Volvimos hace unas semanas con amigos y quedaron maravillados tambi茅n ellos.
								El reducto es peque帽o y c谩lido con una ambientaci贸n entre moderna y minivalista y cuenta con una mesa para seis que puede reservar, en la cava, rodeado de vinos y con vista al sal贸n y a la cocina.
								Cuenta con una cocina de sibaritas, donde el chef hace delicias para el paladar.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<!--<!<img src="https://via.placeholder.com/35" alt="">-->
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Ignacio Apela </a> </strong>
									Muy lindo lugar. No es muy grande, y las mesas estan bien separadas para distancia social. La atencion es excelente, tienen un sommelier para recomendar vinos. La carta es chica y ofrece buenas opciones que son muy ricas. Muy linda la decoracion del lugar.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Miranda Valdez</a> </strong>
									Las porciones son extremadamente chicas y los costos exageradamente grandes!!! Lo pierde todo....los postres, no gasten en eso!!!
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Marcelo Torcuato </a> </strong>
									cocina fant谩stica, atenci贸n impecable y cava de vinos distintos, vale la pena siempre. Vuelvo todas las semanas</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Eric Sartre </a> </strong>
									Nos atendieron mal, poco amables, los platos son muy chicos, te quedas con hambre y no gran cosa!!! Car铆simo para lo que ofrecen!!! No vuelvo!!!!!</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 2 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Chila</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/chila.jpeg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							La cocina de este restaurante en igual medidas coqueto y vanguardista. Pod茅s ir a probar su men煤 fijo de productos locales y de estaci贸n, con foco puesto en la identidad cultural argentina</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Lucas Sanchez </a> </strong>
									Cada plato es una obra de arte que te va llevando en un viaje gastron贸mico incre铆ble. La calidad, presentaci贸n, ambientaci贸n, maridaje, todo en una perfecta sintonia que s贸lo puede lograr Pedro Bargero.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> Marisol Orio </a> </strong>
										hemos ido varias veces con mi marido, la primera vez porque su chef inicial fue Soldad Nardeli, quien es una de mis preferidas, por su trayectoria en el rubro. siempre sorprenden con sus platos, tanto en la elaboraci贸n como la presentaci贸n. insuperables.</p>
								</div>
							</article>
							
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 3  -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Ni帽o Gordo</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/dabbang.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Tal vez uno de los restaurantes de la lista m谩s dif铆ciles de encasillar. La comida tiene mucha influencia de platos y street food asi谩tico, pero no es un restaurante asi谩tico. Se siente bastante argentino. </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> Marcos Tortielo</a> </strong>
								Desde la ambientaci贸n hasta los platos son un aut茅ntico disfrute. No es barato, pero vale la pena probarlo una vez.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Delfina Mirasol</a> </strong>
									Un lugar distinto, altamente recomendable. Comida fusi贸n Arg-Jap贸n con algo de picante y salsa agridulces. </p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Carlos Carmen</a> </strong>
									Excelente lugar para probar sabores distintos. Platos completamente distintos a los que prob茅. Sabores muy suaves que en combinaci贸n son incre铆bles. La atenci贸n de 10 tambi茅n. Super recomendable.
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Marina Lafourcade </a> </strong>
									Muy rica la comida, un lugar para ir una vez a comer algo distinto y una ocasion especial ya que el precio es un poco elevado.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> Indira Josefa </a> </strong>
									Vale la pena conocerlo sin dudas, aunque los valores de los platos est谩n por encima de la media, la comida es incre铆ble y vale cada centavo pagado.</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail  -->

		<!-- product detail 4 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Don Julio</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/donjulio.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							La parrilla palermitana est谩 en boca de todos, no solo porque tuvo el puesto m谩s alto en la lista latina, sino que adem谩s, fue el 煤nico restaurant de nuestro pa铆s en integrar la lista mundial, en el puesto 34..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile"> Camila Busneli </a> </strong>
									Vale la pena conocerlo sin dudas, aunque los valores de los platos est谩n por encima de la media, la comida es incre铆ble y vale cada centavo pagado.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> Natalia Sliped </a> </strong>
										Todo excelente! La atenci贸n de todo el equipo super profesional! Todo cuidado al detalle! Cada plato espectacular. Super recomendable! Me encant贸!</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> Benjamin Reynoso </a> </strong>
										Atencion y calidad de sus carnes son perfectas. Todo mejora a medida que pasan el tiempo . No es econ贸mico pero siempre vale la pena la experiencia Don Julio, es eso experiencia de sabores y atencion
										</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> Lisandro Karz </a> </strong>
										Inmejorable, buena relaci贸n calidad /precio Servicio excelente Torta de de cumplea帽os de cortesia riquisima</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> Paola Petruch </a> </strong>
										Delicioso!</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail  -->

			<!-- product detail 5 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Elena</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/elena.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Ubicado en el hotel Four Seasons, en Buenos Aires. Elena es probablemente el lugar donde m谩s sofisticado te sientas comiendo un bife de chorizo en Buenos Aires..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Silvestre Linguin </a> </strong>
								 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						
						
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 6 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Mishiguene</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/mishiguene.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							Tom谩s Kalika, el due帽o de este restaurante, es un cocinero argentino enfocado en dar una experiencia basada en el juda铆smo, tanto cultural como gastron贸micamente..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 7 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Mudra Plant Based</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/mudra.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Mudr谩 es una cocina vegana muy bien dise帽ada y ejecutada. La carta recorre todo tipo de platos: desde pizza y hamburguesas hasta sushi, pasando por pasta, tacos y pasteler铆a..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 8  -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Narda Comedor</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/narda.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							El Comedor en el bajo Belgrano tiene desayunos, almuerzos, meriendas y cenas, uno m谩s rico que el otro..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 9 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Proper</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/proper.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						De afuera este garage sobre calle Araoz poco te va a llevar a un restaurante en esta lista, pero todo eso se borra cuando prob谩s el primer plato..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<div class="icono-usuario-comentario">
								<i class="far fa-user"></i>
							</div>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 10 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Tegui</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/tegui.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							El mega reconocido y ya a esta instancia hist贸rico proyecto de Germ谩n Martitegui sigue ocupando los primero puestos de la lista. Con un precio fijo, es una experiencias gastron贸micas por pasos pionera en la utilizaci贸n de producto local de alt铆sima calidad.</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<div class="icono-usuario-comentario">
									<i class="far fa-user"></i>
								</div>
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->
	</div>
	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->

</body>	
</html>
