<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/headerlogueado.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form>
					<ul>
					  <li>
					   <label for="producto">Nombre del producto</label>
					   <input type="text" id="product_nombre" name="product_nombre">
					 </li>
					 <li>
						 <label for="foto">Foto del producto:</label>
						 <input type="image" id="image" name="product_image">
					 </li>
					 <li>
						<label for="descripcion">descripcion del producto:</label>
						<textarea name="descripcion"></textarea>
					 </li>
					    <input type="submit" value="Agregar producto">  
				  </form>
			</h2>


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>