<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agrega un restaurante</h2>
			</div>
			
	<div class="form-registracion">
		<h2 class="col-12"> 
		<form class="tablaRegistracion" action="/add" method="POST" enctype="multipart/form-data">
			<ul class= "registracionItems">
			  <li class="bordearDiferente"> 
				<input class="form-input" type="text" id="nombre" placeholder="Nombre del producto"name="nombre">
			 </li>
			
				 
			 <li class="bordear">
					<input class="form-input" type="file" name="productImage" />
			 </li>
			 
			 <li class="bordear">
				 <input class="form-input" type="text" placeholder="Descripcion del producto" name="descripcion">
			 </li>
			 <li class="bordear">
				<p>FECHA DE HOY</p>
				<input class="form-input" type="date" placeholder="fecha de creacion" name="fecha">
			</li>
			
			 <li class="bordear">
				<input class="actualizar-perfil" type="submit" value="Añadir producto">
			</li>
			<!--<a class="actualizar-perfil" href="/allProducts/:id">Añadir producto</a>--> 
		   </ul>
		</form>
		</h2>
	</div>



	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>