<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>


<body>

	<!-- Header -->
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil </h2>
			</div>

	
			<div class="form-registracion">
				<h2 class="col-12"> 
					<form class="tablaRegistracion">
					<ul class= "registracionItems">
					  <li class="bordearDiferente"> 
						<!--<label class="form-label" for="nombre">Nombre:</label> -->
						<input class="form-input" type="text" id="nombre" placeholder="Nombre"name="user_nombre">
					   
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="apellido">Apellido:</label>-->
						 <input class="form-input" type="text" id="apellido" placeholder="Apellido"name="user_apellido">
					 </li>
					
					 
					 <li class="sexo-entero">
						<select class="form-input" name="sexo">

							<option>Sexo</option>
							
							<option>Femenino</option>
							<option>Masculino</option>
							
							<option>Prefiero no decrilo</option>
							
							</select>
						
						</li>
					
	
					 <li class="bordearArriba">
						<!--- <label class="form-label" for="mail">Correo electrónico:</label> -->
						 <input class="form-input" type="email" id="mail" placeholder="Correo electrónico" name="user_mail">
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="password" id="contraseña"placeholder="Contraseña actual" name="user_contraseña">
						 <input class="form-input" type="password" id="nueva-contraseña"placeholder="Nueva contraseña" name="user_contraseña">
					 </li>
	
				
					<a class="actualizar-perfil" href="/profile">Actualizar mi perfil</a>
					
	
				   </ul>
				  </form>
				</h2>
			</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>