<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form>
				<ul>
				  <li>
				   <label for="nombre">Nombre:</label>
				   <input type="text" id="nombre" name="user_nombre">
				 </li>
				 <li>
					 <label for="apellido">Apellido:</label>
					 <input type="text" id="apellido" name="user_apellido">
				 </li>
				 <li>
					<label for="sexo">sexo:</label> <br>
					<input type="radio" id="sexo" name="user_sexo" value="masculino"> masculino <br>
					<input type="radio" id="sexo" name="user_sexo" value="femenino"> femenino <br>
				 </li>
				 <li>
					 <label for="mail">Correo electrónico:</label>
					 <input type="email" id="mail" name="user_mail">
				 </li>
				 <li>
					 <label for="contraseña">Contraseña:</label>
					 <input type="password" id="contraseña" name="user_contraseña">
				 </li>
					 <input type="submit" value="Registrarse">  
			   </ul>
			  </form>
			</h2>

		</div>
	<!-- footer -->
	<footer class="main-footer">
		<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>