<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>


<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="form-registracion">
				<h2 class="col-12"> 
					<form class="tablaRegistracion">
					<ul class= "registracionItems">
					  <li class="bordearDiferente"> 
						<!--<label class="form-label" for="nombre">Nombre:</label> -->
						<input class="form-input" type="text" id="nombre" placeholder="Nombre"name="user_nombre">
					   
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="apellido">Apellido:</label>-->
						 <input class="form-input" type="text" id="apellido" placeholder="Apellido"name="user_apellido">
					 </li>
					
					<div class="sexo-entero">
					
						<div><label class="form-label" for="sexo">Sexo</label> <br/></div>
						<div class="sexo-eleccion">

							<div class="seleccionador-sexo">
								<input class="imputradio"  type="radio" id="sexo" name="user_sexo" value="masculino" > <p class="radio">Masculino</p> 
							</div>
							
				
							<div class="seleccionador-sexo">
								<input  class="imputradio" type="radio" id="sexo" name="user_sexo" value="femenino"><p class="radio">Femenino</p> 
							 </div>
						 	
					
						</div>
					</div>
				
					
	
					 <li class="bordearArriba">
						<!--- <label class="form-label" for="mail">Correo electrónico:</label> -->
						 <input class="form-input" type="email" id="mail" placeholder="Correo electrónico" name="user_mail">
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="password" id="contraseña"placeholder="Contraseña" name="user_contraseña">
					 </li>
	
					 <a class="actualizar-perfil" href="/profile">Registrarme</a>
	
				   </ul>
				  </form>
				</h2>
			</div>
			

		</div>
	<!-- footer -->
	<footer class="main-footer">
		<%-include("./partials/footer.ejs")%>
	<!-- /footer --> 
</body> -->

</html>