<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>
<!-- Header -->
<%-include("./partials/header.ejs")%> 
	<!-- /Header -->

<body>

	

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="form-registracion">
				<h2 class="col-12"> 
				<% if (locals.errors) {%> 
				<p class="alert"> <%= errors.register  %> </p>
				<% } %> 
					<form class="tablaRegistracion" action="/register" method="POST" enctype="multipart/form-data" > 
					<ul class= "registracionItems">
					  
						<li class="bordearDiferente"> 
						<!--<label class="form-label" for="nombre">Nombre:</label> -->
						<input class="form-input" type="nombre" id="nombre" placeholder="Nombre" name="nombre">
					   
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="apellido">Apellido:</label>-->
						 <input class="form-input" type="apellido" id="apellido" placeholder="Apellido"name="apellido">
					 </li>
					
					
	
					 <li class="bordear">
						<!--- <label class="form-label" for="mail">Correo electrónico:</label> -->
						 <input class="form-input" type="mail" id="mail" placeholder="Correo electrónico" name="mail">
					 </li>

					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="telefono" id="telefono" placeholder="Telefono celular" name="telefono">
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="date" id="fecha" placeholder="Fecha de nacimiento" name="fecha">
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="file" id="image" placeholder="Imagen" name="image" accept="image/*">
					 </li>
					 <li class="bordear">
						<!-- <label class="form-label" for="contraseña">Contraseña:</label>-->
						 <input class="form-input" type="password" id="contraseña"placeholder="Contraseña" name="contraseña">
					 </li>

					 <button class="actualizar-perfil" type="submit" value="Register"> Registrarme</button>
	
				   </ul>
				  </form>
				</h2>
			</div>
			

		</div>
	<!-- footer -->
	<footer class="main-footer">
		<%-include("./partials/footer.ejs")%>
	<!-- /footer --> 
</body> 

</html>