/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Karantina&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@200&display=swap');

/*====== 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
 ======*/

/*====== Variables ======*/
:root {
  --yellow:#d1c3ac;
  --dark-blue: #1e8ca8;
  --light-blue: #112f3b;
  --gray: #4a2e3b;
  --light-gray: #f4efed;
  --green: #1e8ca8;
  --base-font-family: 'Roboto', sans-serif;
  --black: #111111;
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: var(--base-font-family);
  font-weight: 300;
  background-color: var(--light-gray);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

/*=== Resultados ===*/
.resultados{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-left: 27%;
}
/*====== Main Header ======*/
.main-header {
  padding: 15px 0;
  background-color: var(--yellow);
}


.main-header_home-link,
.main-header_credit-link {
  display: block;
  padding-top: 10px;
} 
.main-header_credit-link  {
  font-size: 1.5em;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
} 


.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  
}

::placeholder{
  color: white;
}
.search-form_input {
  border: solid 1px #ffffff;
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 10px;
  height: 40px;
  font-size: 1.5em;
  background-color:#4a2e3b;
  color: white;
  
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #4a2e3b;
  border: none;
  border-left: solid 1px #111111;
  color: white;
  cursor: pointer;
}
.main-header_credit-link{
  color: #4a2e3b
}


/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: #111111;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;

}


.main-navbar {
  margin-top: 20px;
  display: none;
}

.left-navbar,
.right-navbar {
  font-size: 20px;
  
}

.left-navbar{
  
  width: 230px;
  font-weight: bold;
  color: black;
  font-family: 'Poppins', sans-serif;
  border: solid 1px black;
  border-radius: 10px;
  padding-left: unset;
  padding-left: 12px;
  padding-right: unset;
  padding-bottom: 4px;
  padding-top: 2px;
  text-align: center;
  background-color: var(--yellow);
}
.left-navbar:hover{
  background-color: rgba(237, 230, 211,0.5)
}

#todosLosP{
margin-left: 15px ;

}

.registrar{
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: #4a2e3b;
  font-weight: bold;
  
}
.registrar a:hover{
color:white;
}

.left-navbar2,
.right-navbar {
  font-size: 20px;
  
}
.left-navbar2{
  
  width: 230px;
  font-weight: bold;
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-left: unset;
  padding-left: 12px;
  padding-right: unset;
  padding-bottom: 6px;
  text-align: center;
  background-color: var(--yellow);
}

.log{
 
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: solid 1px black;
  margin-bottom: 4px;
  border-radius: 8px;
}
.log:hover{
  background-color: rgba(237, 230, 211,0.5)
}


.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  width: 220px;
  padding: unset;

 
}

.logout:hover{
  color: #4d3950;
}

.left-navbar a,
.right-navbar a {
  display: block;
  
  border-bottom: solid 1px var(--gray);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}



/*====== Banner ======*/
.banner {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 150px;
  margin-bottom: 100px;


}



/*====== Products ======*/


.products-wrapper {
margin-top: 35px;
  margin-bottom: 20px;
}

.products-title {
  font-size: 50px;
  font-weight: 400;
  font-family:'Antonio', sans-serif;
  text-transform: uppercase;
  color: var(--gray);
  text-align: center;
  
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
 
 
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  color:rgba(156, 47, 63);
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
 
}


.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 36px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}


/*====== product detail ======*/

/*====== Footer ======*/
.main-footer {
  background-color: #d1c3ac;
  padding: 20px 0;
  margin-top: 80px;
  width: 100%;
    margin-left: 0px;
margin-right: 0px;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color: var(--light-blue);
  font-size: 3.5em;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 2.4em;
  font-weight: 400;
}

.footer-data p {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}


/*====== Product Detail ======*/
.product-detail {
  background-color: #af946e;
  border-radius: 8px;
  overflow: hidden;
 

}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
  border: solid 2px whitesmoke;
  border-radius: 10px;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;
  color: #4a2e3b;
  font-family: 'PT Sans', sans-serif;

}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}
.user{
  color: #4a2e3b;
  padding-top: 2px;
}
.icono-usuario-comentario{
  display: block;
  font-size: 20px;
  margin-left: 2px;
  padding-left: 10px;
  padding-top: 1px;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  background-color:#4a2e3b ;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.article{
  padding: 10px;
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article{
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-around;
}
.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data{
  width: 85%;
  
}
.comments p{
  font-size: 1.5em;
  margin-top: 0;
}
.comments .user{
  font-size: 1.7em;
}

/*====== Formularios ======*/

.form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
  position: relative;
  

  

}
.selector-de-sexo{
  width: 50%;
  
}
.sexo-entero{
  text-transform: uppercase;
  font-family:'Antonio', sans-serif;
  background-color: transparent ;
}
.añadir-foto{
  display: inline-block;
  font-size: 1.6em;
  margin-left: 150px;
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4d3950;
  
  
  
}
.col-12{
  color:#4d4454;
  margin-top: 8px;




}
form.col-12{
  margin: 10px;
  font-size: 20px;
 
 
}
#nombre{
  margin-bottom: 10px;
  background-color: #f4efed;
  border-color: #6e6372;
  width: 50%;
  color:#6e6372
}

::placeholder{
  color:#6e6372
}


#apellido{
margin-top: 14x;
background-color: #f4efed;
border-color: #6e6372;
width: 50%;
}

#sexo{
margin-top: 14px;
}
#mail{
  margin-top: 14px;
  background-color:#f4efed;
  
  border-color: #6e6372;
  width: 70%;
}

#contraseña{
  margin-top: 14px;
  background-color:#f4efed ;
  border-color: #6e6372;
  width: 50%;
  
}


#descripcion{
  margin-top: 14px;
  background-color:#f4efed ;
  border-color: #6e6372 ;
  width: 50%;
  height: 90px;
}

#nueva-contraseña{
  margin-top: 14px;
  background-color:#f4efed ;
  border-color: #6e6372;
  width: 50%;
}

#submit{
  margin-top: 14px;
  background-color: #111111;
  border-color: #6e6372;
  width: 17%;
  color: white;
  height: 40px;
  margin-top: 14px;
}

.tablaRegistracion{
  width: 80%;
  margin: 0 auto;
}
.bordear{
  border-bottom: 2px solid #6e6372;
  width: 100%;
}
.bordearDiferente{
  border-bottom: 2px solid #4d4454;
  border-top: 2px solid #4d4454;
  width: 100%;
}
.bordearArriba{
  border-top: 2px solid #6e6372;
  border-bottom: 2px solid #6e6372;
  width: 100%;
}

.imputradio{
  position: relative;
  right: 10%;
  left: 14%;
  
}
.radio{
  position: relative;
  right: 10%;
  left: 14%;
  font-size: 20px;

}


.imputradio{
  position: relative;
  right: 10%;
  left: 14%;
}



.form-input {
  display: block;
  width: 70%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  border: 3px solid #6e6372;
  padding: 0 15px;
  position: relative;
  right: 10%;
  left: 14%;
  margin-top: 14px;
  font-family: 'PT Sans', sans-serif;
  background-color: transparent;
color: #6e6372;

  
  }
  .actualizar-perfil{
    display: block;
  width: 70%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  border: 3px solid #4d4454;
  padding: 0 15px;
  position: relative;
  right: 10%;
  left: 14%;
  margin-top: 14px;
  padding-top: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color:#4a2e3b ;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  

  }

  .add{
    display: block;
  width: 70%;
  height: 80px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  border: 3px solid #4d4454;
  padding: 0 15px;
  position: relative;
  right: 10%;
  left: 14%;
  margin-top: 14px;
  font-family: 'PT Sans', sans-serif;
  }
.actualizar{
  display: block;
  width: 600px;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  border: 3px solid #4d4454;
  padding: 0 15px;
  position: relative;
  right: 10%;
  left: 14%;
  margin-top: 14px;
  font-family: 'PT Sans', sans-serif;
}

.error{
  color: rgb(209, 0, 0);
  font-size: 1.4em;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

/*====== Profile ======*/
.info-usuario{
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  font-size: 16px;
  
}
.data-container {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}


.foto-perfil{
  position: relative;
  right: 160px;
  border-radius: 50%;
  height: 230px;
  width: 230px;

    border-radius: 50%;
    border: 3px solid #4d4454;

}


.el-usuario{
  padding-left: 20px;
}
.main-title{
  font-size: 30px;
  margin-bottom: 10px;
  color:#4d4454 ;
}
.infoUsuario{
 padding-top: 12px;
 color: #4d4454;
 font-weight: bold;
}

.btn{
  background-color: #4d4454;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.editar-perfil{
  margin-left: 20px;
  font-size: 15px;
  border-radius: 2px;
  background-color: var(--yellow);
}
.col-2{
max-width: 70px;
}

.form-registracion{
  display: grid;
  width: 98%;
  text-align: center;
}


 



/*====== Media-Queries IPAD ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
    font-family: 'Cedarville Cursive', cursive;
  }

  .banner {
    height: 320px;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
  .footerInferior{
    text-align: center;
    padding: 5px;
    font-size: 20x;

  }
  .col-12 col-sm-6 col-lg-3{
    display: grid;
    grid-template-columns: 45% 45%;
  }

  /*====== Media-Queries IPhone ======*/

  @media (min-width: 320px) {
    
   
    .col-12 col-sm-6 col-lg-3{
      display: grid;
      grid-template-columns: 45% 45%;
    }
  }
  
}