<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	
	<!-- product detail 1 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> Alo's </h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/alos.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Este moderno bistró, que abre para el desayuno, el almuerzo y la cena, se convirtió rápidamente en un éxito por su forma única de transformar los sabores argentinos familiares.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 2 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Chila</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/chila.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							La cocina de este restaurante en igual medidas coqueto y vanguardista. Podés ir a probar su menú fijo de productos locales y de estación, con foco puesto en la identidad cultural argentina</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 3  -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Gran Dabbang</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/dabbang.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Tal vez uno de los restaurantes de la lista más difíciles de encasillar. La comida tiene mucha influencia de platos y street food asiático, pero no es un restaurante asiático. Se siente bastante argentino. </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail  -->

		<!-- product detail 4 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Don Julio</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/donjulio.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							La parrilla palermitana está en boca de todos, no solo porque tuvo el puesto más alto en la lista latina, sino que además, fue el único restaurant de nuestro país en integrar la lista mundial, en el puesto 34..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail  -->

			<!-- product detail 5 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Elena</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/elena.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Ubicado en el hotel Four Seasons, en Buenos Aires. Elena es probablemente el lugar donde más sofisticado te sientas comiendo un bife de chorizo en Buenos Aires..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 6 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Mishiguene</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/default-mishiguene.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							Tomás Kalika, el dueño de este restaurante, es un cocinero argentino enfocado en dar una experiencia basada en el judaísmo, tanto cultural como gastronómicamente..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 7 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Mudra Plant Based</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/mudra.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Mudrá es una cocina vegana muy bien diseñada y ejecutada. La carta recorre todo tipo de platos: desde pizza y hamburguesas hasta sushi, pasando por pasta, tacos y pastelería..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 8  -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Narda Comedor</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/narda.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							El Comedor en el bajo Belgrano tiene desayunos, almuerzos, meriendas y cenas, uno más rico que el otro..</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

			<!-- product detail 9 -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Proper</h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/proper.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						De afuera este garage sobre calle Araoz poco te va a llevar a un restaurante en esta lista, pero todo eso se borra cuando probás el primer plato..</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- product detail 10 -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">Tegui</h2> 
				<p class="product-detail-description">
					<a href="/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/tegui.jpg" alt="" class="product-detail-img">
						<p class="product-detail-description">
							El mega reconocido y ya a esta instancia histórico proyecto de Germán Martitegui sigue ocupando los primero puestos de la lista. Con un precio fijo, es una experiencias gastronómicas por pasos pionera en la utilización de producto local de altísima calidad.</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>
	
						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->

</body>	
</html>
